@model DashboardViewModel

<div class="container mt-5">
    <div class="row mt-3">
        <div class="col-md-6">
            <h2>Bem-vindo, @Model.Account.Nome!</h2>
            <!-- Adicione um ícone de boas-vindas/dashboard -->
        </div>
        <div class="col-md-6">
            <h4>Saldo da Conta:</h4>
            <p>R$ @Model.SaldoConta</p>
            <a class="btn btn-dark btn-sm"><i class="bi bi-cash"></i> Adicionar saldo</a>            
            <a class="btn btn-dark btn-sm"><i class="bi bi-plus"></i> Adicionar Despesas</a>           
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <h4>Despesas Futuras:</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Despesa</th>
                        <th>Valor</th>
                        <th>Data de Vencimento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>[Nome da Despesa]</td>
                        <td>R$ [Valor da Despesa]</td>
                        <td>[Data de Vencimento]</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

